/* themes green (start) */
/* themes green (end) */
.mycheckbox--checked .mycheckbox-switch-icon {
  background-color: #2d8cf0;
  border-color: #2d8cf0;
  box-shadow: none;
}
.mycheckbox--checked .mycheckbox-switch-icon:before {
  filter: alpha(opacity=100);
  opacity: 1;
  transform: rotate(-55deg) scale(1);
}
@-webkit-keyframes checkedAnimate {
  0% {
    opacity: 1;
  }
  30% {
    transform: rotate(-55deg) scale(0.01);
    opacity: 0;
  }
  31% {
    transform: rotate(-55deg) scale(0.01);
    opacity: 0;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
  60% {
    transform: rotate(-55deg) scale(1.6);
    opacity: 0.5;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
  100% {
    transform: rotate(-55deg) scale(1);
    opacity: 1;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
}
@keyframes checkedAnimate {
  0% {
    opacity: 1;
  }
  30% {
    transform: rotate(-55deg) scale(0.01);
    opacity: 0;
  }
  31% {
    transform: rotate(-55deg) scale(0.01);
    opacity: 0;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
  60% {
    transform: rotate(-55deg) scale(1.6);
    opacity: 0.5;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
  100% {
    transform: rotate(-55deg) scale(1);
    opacity: 1;
    height: 0.375em;
    width: 0.625em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: auto;
    margin-top: 0.15625em ;
    margin-left: 0.14375em ;
    border-style: solid;
    border-width: 0 0 0.125em 0.125em;
  }
}
.mycheckbox--focus.mycheckbox--checked .mycheckbox-switch-icon:before {
  -webkit-animation: checkedAnimate 0.36s ease-in-out;
  animation: checkedAnimate 0.36s ease-in-out;
}
.mycheckbox--focus:hover .mycheckbox-switch-icon,
.mycheckbox--focus.mycheckbox--checked:hover .mycheckbox-switch-icon,
.mycheckbox--focus .mycheckbox-switch-icon,
.mycheckbox--focus.mycheckbox--checked .mycheckbox-switch-icon {
  box-shadow: 0 0 0 0.125em rgba(45, 140, 240, 0.2);
}
.mycheckbox.mycheckbox--disabled,
.mycheckbox--disabled,
.mycheckbox--disabled.mycheckbox--checked {
  cursor: not-allowed;
}
.mycheckbox.mycheckbox--disabled:hover .mycheckbox-switch-icon,
.mycheckbox--disabled:hover .mycheckbox-switch-icon,
.mycheckbox--disabled.mycheckbox--checked:hover .mycheckbox-switch-icon,
.mycheckbox.mycheckbox--disabled .mycheckbox-switch-icon,
.mycheckbox--disabled .mycheckbox-switch-icon,
.mycheckbox--disabled.mycheckbox--checked .mycheckbox-switch-icon {
  border-color: #cccccc;
  background-color: #eeeeee;
  box-shadow: inset 0px 1px 1px #DEDEDE;
}
.mycheckbox.mycheckbox--disabled:hover .mycheckbox-switch-icon:before,
.mycheckbox--disabled:hover .mycheckbox-switch-icon:before,
.mycheckbox--disabled.mycheckbox--checked:hover .mycheckbox-switch-icon:before,
.mycheckbox.mycheckbox--disabled .mycheckbox-switch-icon:before,
.mycheckbox--disabled .mycheckbox-switch-icon:before,
.mycheckbox--disabled.mycheckbox--checked .mycheckbox-switch-icon:before {
  border-color: #aaaaaa;
}
.mycheckbox.mycheckbox--disabled .mycheckbox-label,
.mycheckbox--disabled .mycheckbox-label,
.mycheckbox--disabled.mycheckbox--checked .mycheckbox-label {
  color: rgba(0, 0, 0, 0.45);
}
